/* Main container */
.footer-container {
  background-color: white;
  color: black;
  padding: 30px 0; /* Slightly reduce padding for a more compact footer */
  font-family: "Playfairdisplay", sans-serif;
  border-top: 1px solid #444;
}

/* Section layout for 4 columns */
.footer-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
  gap: 10px; /* Reduced space between columns */
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  flex-wrap: nowrap; /* Prevent wrapping of content */
}

/* Footer section styling */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px; /* Reduced gap within each section */
  overflow: hidden; /* Hide overflow to prevent unwanted space */
}

/* Footer logo and description section */
.footer-logo-description {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center both logo and description */
  text-align: center;
  margin-bottom: 5px;
}

.logo-image {
  max-width: 100%;
  height: 100px;
  width: 85px; /* Adjust logo size */
}

.footer-logo-description h3 {
  font-size: 1.2rem;
  margin-top: 5px; /* Space between logo and heading */
}

.footer-logo-description p {
  font-size: 1rem;
  color: #555; /* Slightly lighter color for the paragraph text */
  text-align: justify;
  margin-top: 10px; /* Space between heading and paragraph */
}

/* Footer links styling */
.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px; /* Reduced spacing between links */
}

.footer-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FFD700;
}

/* Footer bottom text */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 0.75rem; /* Reduced font size for footer bottom */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-sections {
    grid-template-columns: repeat(4, 1fr); /* Keep 4 equal columns on small screens */
    gap: 10px; /* Reduce gap on small screens */
    padding: 10px; /* Reduce padding */
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .logo-image {
    width: 120px; /* Adjust logo size for smaller screens */
  }

  .footer-bottom {
    font-size: 0.85rem;
  }

  .footer-logo-description h3 {
    font-size: 1rem;
  }

  .footer-logo-description p {
    font-size: 0.9rem;
  }
}
